<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if not config["DEBUG"] %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-FNZ569GYYL">
            </script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-FNZ569GYYL');
            </script>
        {% endif %}
        {% if csrf_token is defined %}
            <meta name="csrf-token" content="{{ csrf_token() }}">
        {% endif %}
        {% if config["DEBUG"] %}
            <title>DEV - {{ user_manager.USER_APP_NAME }}</title>
        {% else %}
            <title>{{ user_manager.USER_APP_NAME }}</title>
        {% endif %}
        <link rel="shortcut icon" href="https://southbaysupercontest.com/assets/brand/favicon.ico">
        <!-- Supercontest -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" crossorigin="anonymous">
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" crossorigin="anonymous"></script>
        <!-- Popper (for bootstrap) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <!-- Notify -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" crossorigin="anonymous"></script>
        <!-- Markdown-HTML Rendering -->
        <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js" crossorigin="anonymous"></script>
        <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js" crossorigin="anonymous"></script>
        <!-- Plotly -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js" crossorigin="anonymous"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/1b3f851e61.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- the top banner -->
        {% block banner %}
        {% endblock %}
        <!-- full-width nav by default -->
        {% block navbar %}
        {% endblock %}
        <!-- all main content, with an optional subheader for the contest views -->
        <div class="container-fluid p-3">
            {% block contest_view_header %}
            {% endblock %}
            {% block main_view %}
            {% endblock %}
        </div>
        <!-- footer with t&c, policies, agreements -->
        <div class="bg-dark text-center py-2">
            <p class="text-white mb-0">© South Bay Supercontest</p>
            <a class="text-white" href="https://docs.southbaysupercontest.com/en/master/legal.html">
                Terms, Agreements, Policies
            </a>
        </div>
        <!-- all supercontest javascript, bundled -->
        {% assets "sc_js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
