{% extends 'flask_user_layout.html' %}

{% block flask_user_title %}
    {%trans%}User Profile{%endtrans%}
{% endblock %}

{% block flask_user_content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if not field.flags.hidden %}
                <div class="my-3"></div>
                {% if field.type=='SubmitField' %}
                    {{ render_submit_field(field, tabindex=loop.index*10) }}
                {% else %}
                    {{ render_field(field, tabindex=loop.index*10) }}
                {% endif %}
            {% endif %}
        {% endfor %}
    </form>
    <div class="mt-3">
        <a href="{{ url_for('user.change_password') }}">
            {%trans%}Change Password{%endtrans%}
        </a>
    </div>
    <div class="mt-3">
        <a href="{{ url_for('main.email_preferences') }}">
            Update Email Preferences
        </a>
    </div>
{% endblock %}
