{% extends 'flask_user_layout.html' %}

{% block flask_user_title %}
    {%trans%}Email Preferences{%endtrans%}
{% endblock %}

{% block flask_user_content %}
    <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="row my-3">
            <div class="col-auto text-right pr-0">{{ form.email_when_picks_open }}</div>
            <div class="col-auto">{{ form.email_when_picks_open.label }}</div>
        </div>
        <div class="row my-3">
            <div class="col-auto text-right pr-0">{{ form.email_when_picks_closing }}</div>
            <div class="col-auto">{{ form.email_when_picks_closing.label }}</div>
        </div>
        <div class="row my-3">
          <div class="col-auto text-right pr-0">{{ form.email_all_picks }}</div>
          <div class="col-auto">{{ form.email_all_picks.label }}</div>
      </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
{% endblock %}
