{% extends 'flask_user_layout.html' %}

{% block flask_user_title %}
    {%trans%}Login{%endtrans%}
{% endblock %}

{% block flask_user_content %}
    {% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {% set field = form.email %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            {{ field(class_='form-control', tabindex=110) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
        {% set field = form.password %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.id }}" class="control-label">{{ field.label.text }}</label>
            {{ field(class_='form-control', tabindex=120) }}
            {% if field.errors %}
                {% for e in field.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
            {% endif %}
        </div>
        {{ render_checkbox_field(login_form.remember_me, tabindex=130) }}
        <div class="my-3"></div>
        {{ render_submit_field(form.submit, tabindex=180) }}
        <div class="my-3">
            <a href="{{ url_for('user.forgot_password') }}" tabindex='195'>
                {%trans%}Forgot your Password?{%endtrans%}
            </a>
        </div>
        <div class="my-3">
            <a href="{{ url_for('user.register') }}" tabindex='190'>
                {%trans%}New here? Register.{%endtrans%}
            </a>
        </div>
    </form>
{% endblock %}
