{% extends 'flask_user_layout.html' %}

{% block flask_user_title %}
    {%trans%}Reset Password{%endtrans%}
{% endblock %}

{% block flask_user_content %}
    {% from "flask_user/_macros.html" import render_field, render_submit_field %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.new_password, tabindex=10) }}
        {{ render_field(form.retype_password, tabindex=20) }}
        <div class="my-3"></div>
        {{ render_submit_field(form.submit, tabindex=90) }}
    </form>
{% endblock %}
