{% extends "bases/main.html" %}

{% from "macros.html" import render_card_header %}

{% block main_view %}

<div class="card">
    {{ render_card_header("Contact") }}
    <div class="card-body">
        <div class="text-center">
            <p>Booking the weekly banner? Submitting late picks? Other questions?</p>
            <a href="mailto: southbaysupercontest@gmail.com">
                southbaysupercontest@gmail.com
            </a>
        </div>
    </div>
</div>

{% endblock %}
