{% extends "bases/main.html" %}

{% from "macros.html" import render_card_header %}

{% block main_view %}

<div class="card">
    {{ render_card_header("Feedback") }}
    <div class="card-body">
          <form action="/" autocomplete="off">
              <div class="form-group">
                  <label for="feedbackTextBox">Any suggestions?</label>
                  <input type="text" class="form-control my-3" id="feedbackTextBox" autofocus="autofocus">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>

{% endblock %}
