<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle btn btn-secondary" href="#" id="navDropdownView" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        View
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownView">
        {% set matchups_link = url_for('matchups.matchups', season=g.params.get('season', -1), week=g.params.get('week', -1)) %}
        <a class="dropdown-item" href="{{ matchups_link }}">Your Picks</a>
        {% set picks_link = url_for('picks.picks', season=g.params.get('season', -1), week=g.params.get('week', -1), league=g.params.get('league', -1)) %}
        <a class="dropdown-item" href="{{ picks_link }}">All Picks</a>
        {% set leaderboard_link = url_for('leaderboard.leaderboard', season=g.params.get('season', -1), league=g.params.get('league', -1)) %}
        <a class="dropdown-item" href="{{ leaderboard_link }}">Leaderboard</a>
        {% set progression_link = url_for('progression.progression', season=g.params.get('season', -1), league=g.params.get('league', -1)) %}
        <a class="dropdown-item" href="{{ progression_link }}">Progression</a>
        {% set statistics_link = url_for('statistics.statistics', stats_scope=g.params.get('stats_scope', ""), season=g.params.get('season', -1)) %}
        <a class="dropdown-item" href="{{ statistics_link }}">Statistics</a>
    </div>
</li>
