<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownGeneral" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        General
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownGeneral">
        <a class="dropdown-item" href="https://docs.southbaysupercontest.com/en/master/rules.html" target="_blank">
            Rules
        </a>
        <a class="dropdown-item" href="https://docs.southbaysupercontest.com" target="_blank">
            Docs
        </a>
        <a class="dropdown-item" href="{{ url_for('graphql') }}" target="_blank">
            API
        </a>
        <a class="dropdown-item" href="{{ url_for('main.feedback') }}">
            Feedback
        </a>
        <a class="dropdown-item" href="{{ url_for('main.contact') }}">
            Contact
        </a>
    </div>
</li>
