{% if 'season' in g %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownSeason" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Season
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownSeason">
        {% if 'leaderboard' in request.path %}
            <a class="dropdown-item" href="{{ url_for('main.alltimelb') }}">Alltime</a>
        {% endif %}
        {% if 'statistics' in request.path %}
            <a class="dropdown-item" href="{{ url_for('statistics.statistics', stats_scope=g.params.get('stats_scope', ''), season=0) }}">Alltime</a>
        {% endif %}
        {% for _season in g.available_seasons %}
            {% set var_param = {"season": _season} %}
            {% set other_season_link = url_for(request.url_rule.endpoint, **dict(g.params, **var_param)) %}
            <a class="dropdown-item" href="{{ other_season_link }}">{{ _season }}</a>
        {% endfor %}
    </div>
</li>

{% endif %}