{% if 'stats_scope' in g %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navDropdownStatsScope" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Scope
    </a>
    <div class="dropdown-menu text-center" aria-labelledby="navDropdownStatsScope">
        {% set nfl_link = url_for('statistics.statistics', stats_scope='nfl', season=g.params.get('season', -1)) %}
        <a class="dropdown-item" href="{{ nfl_link }}">NFL</a>
        {% set sbsc_link = url_for('statistics.statistics', stats_scope='sbsc', season=g.params.get('season', -1)) %}
        <a class="dropdown-item" href="{{ sbsc_link }}">SBSC</a>
    </div>
</li>

{% endif %}