{% extends "contest/view_header.html" %}

{% from "macros.html" import render_lb_legend %}

{% block contest_view_title %}Leaderboard{% endblock %}

{% block contest_view_subtitle %}{{ g.season }} Season, {{ g.league_name }} League{% endblock %}

{% block main_view %}

<script>
    const userInLeague = {{ g.user_in_league|tojson }};
    let flashedMessages = {{ get_flashed_messages(with_categories=true)|tojson }};
    const currentUserId = {{ current_user.id }};
    const finalSeasonResults = {{ final_season_results|tojson }};
    const currentWeek = {{ g.current_week or 0 }};
    const isCurrentSeasonRequested = {{ g.is_current_season_requested|tojson }};
    const season = {{ g.season }};
    const league = {{ g.league }};
</script>

<div class="card">
    <div class="card-body">
        <!-- Help Collapse -->
        <div id="helpCollapse" class="collapse">
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <div class="card">
                        <h6 class="card-header text-center">Instructions</h6>
                        <div class="card-body">
                            <p class="card-text">The leaderboard only considers completed games. It does not count any in-progress games.</p>
                            <p class="card-text">The current week shows the live ratio of ( earned points / possible points ) thus far.</p>
                            <p class="card-text">Hover over score cells to see total pick counts (per user, per week, whole season, all users).</p>
                            <p class="card-text">All percentages reflect picks that have actually been submitted. If you forget to submit picks for a week, your percentage will not change.</p>
                            <p class="card-text">The percentile is the portion of the league that you were better than (excluding ties, normal).</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ render_lb_legend() }}
        </div>
        <!-- Main Table -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="table-responsive text-nowrap"> 
                    <table id="leaderboardTable" class="table table-sm table-bordered table-hover table-striped align-middle text-center mb-0">
                        <thead>
                            <tr class="table-light">
                                <td colspan="2" class="border-right-thick">Leaguewide Pick Percentages <i class="fas fa-long-arrow-alt-right"></i></td>
                                {% for week_percentage in toprow_weeks %}
                                    {% if week_percentage %}
                                        <td>{{ week_percentage }}<span class="text-body-secondary tiny">%</span></td>
                                    {% else %}
                                        <td class="text-body-secondary">-</td>
                                    {% endif %}
                                {% endfor %}
                                <td colspan="3" class="border-left-thick">Season <i class="fas fa-long-arrow-alt-right"></i></td>
                                {% if toprow_season %}
                                    <td>{{ toprow_season }}<span class="text-body-secondary tiny">%</span></td>
                                {% else %}
                                    <td><span class="text-body-secondary">-</span></td>
                                {% endif %}
                                {% if g.is_paid_league %}
                                    <td colspan="2" class="border-left-thick">Party Fund <i class="fas fa-long-arrow-alt-right"></i></td>
                                    <td><span class="text-body-secondary tiny">$</span>{{ total_party }}</td>
                                {% endif %}
                            </tr>
                            <tr class="table-dark">
                                <th scope="col">Rank</th>
                                <th scope="col" class="border-right-thick">User</th>
                                {% for _week in range(1, g.weeks_in_season + 1) %}
                                    <th scope="col">{{ '%02d' % _week }}</th>
                                {% endfor %}
                                <th scope="col" class="border-left-thick">Total</th>
                                <th scope="col">Record</th>
                                <th scope="col">%tile</th>
                                <th scope="col">%</th>
                                {% if g.is_paid_league %}
                                    <th scope="col" class="border-left-thick">Purse</th>
                                    <th scope="col">Bonus</th>
                                    <th scope="col">Total</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in final_season_results %}
                                <tr class="userRow" id="{{ result['user_id']|string }}">
                                    <th scope="row" class="rankCell">{{ result["rank"] }}<span class="rankSuffix text-body-secondary tiny"></span></th>
                                    <td class="w-max-250 border-right-thick" data-toggle="tooltip" title="{{ g.id_name_map[result['user_id']] }} ({{ g.id_email_map[result['user_id']] }})">{{ g.id_name_map[result["user_id"]] }}</td>
                                    {% for _ in range(g.weeks_in_season) %}
                                        <td class="lbWeekScore"></td>
                                    {% endfor %}
                                    <th scope="row" class="totalScore border-left-thick">{{ result["points"] }}</th>
                                    <td>{{ result["cover"] }}<span class="text-body-secondary">-</span>{{ result["push"] }}<span class="text-body-secondary">-</span>{{ result["noncover"] }}</td>
                                    <td>{{ result["percentile"] }}<span class="text-body-secondary tiny">%tl</span></td>
                                    <td class="percentage">{{ result["percentage"] }}<span class="text-body-secondary tiny">%</span></td>
                                    {% if g.is_paid_league %}
                                        <td class="border-left-thick"><span class="text-body-secondary tiny">$</span>{{ result["purse"] }}</td>
                                        <td><span class="text-body-secondary tiny">$</span>{{ result["bonus"] }}</td>
                                        <th scope="row"><span class="text-body-secondary tiny">$</span>{{ result["payout"] }}</th>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
