{% extends "contest/view_header.html" %}

{% from "macros.html" import render_main_legend %}

{% block contest_view_title %}Matchups{% endblock %}

{% block contest_view_subtitle %}{{ g.season }} Season, Week {{ g.week }}{% endblock %}

{% block main_view %}

<script>
    let flashedMessages = {{ get_flashed_messages(with_categories=true)|tojson }};
    let sortedGames = {{ dumped_sorted_games|tojson }};
    const pickTeams = {{ pick_teams|tojson }};
    const picksOpen = {{ g.picks_open|tojson }};
    const week = {{ g.week }};
    const season = {{ g.season }};
</script>

<div class="card">
    <div class="card-body">
        <!-- Help Collapse-->
        <div id="helpCollapse" class="collapse">
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <div class="card">
                        <h6 class="card-header text-center">Instructions</h6>
                        <div class="card-body">
                            {% if g.picks_open %}
                                <p class="card-text">For general instructions on how to pick against spreads, see the <a href="https://docs.southbaysupercontest.com/en/master/rules.html">Rules</a> page.</p>
                                <p class="card-text">Select 5 teams by clicking on their names below.</p>
                                <p class="card-text">You can change your 5 picks as much as you want until lockdown, which is Saturday nights at midnight.</p>
                                <p class="card-text">All games that occur before Sunday can be picked until kickoff. This includes standard TNF, the multiple Thanksgiving Thursday games, and the end-of-season Saturday games. You may pick early game(s) and then wait to submit your other pick(s) later.</p>
                                <p class="card-text">If you have not submitted the full 5 picks by 5pm on Saturday, the app can email you a reminder (<a href="{{ url_for('main.email_preferences') }}">notification preferences</a>).</p>
                            {% else %}
                                <p class="card-text">Picks are closed from Saturday night at midnight until Wednesday evening ~5pm (PT).</p>
                                <p class="card-text">Reach out at <a href="{{ url_for('main.contact') }}">Contact</a> if you have a justified late-pick excuse.</p>
                                <p class="card-text">Table data ticks every minute here (scores, statuses, etc), no need to refresh.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {{ render_main_legend(view='yourpicks') }}
        </div>
        <!-- Main Table -->
        {% if sorted_games|length == 0 %}
        <div class="text-center">
            <span>The app has not pulled the lines yet for week {{ g.week }}. Check back after 6pm PT.</span>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="table-responsive text-nowrap">
                    <table class="table table-sm table-bordered table-hover align-middle text-center mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Time (PT)</th>
                                <th scope="col" class="border-right-thick">Location</th>
                                <th scope="col" colspan="4">Favorite</th>
                                <th scope="col" colspan="4">Underdog</th>
                                <th scope="col" class="border-left-thick">Status</th>
                            </tr>
                        </thead>
                        <tbody id="matchupsTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if g.picks_open %}
            <div class="text-center mt-3">
                <button id="pick5Rrandom" type="submit" class="btn btn-primary">Pick 5 Random</button>
            </div>
        {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
