{% extends "contest/view_header.html" %}

{% from "macros.html" import render_main_legend %}

{% block contest_view_title %}Picks{% endblock %}

{% block contest_view_subtitle %}{{ g.season }} Season, Week {{ g.week }}, {{ g.league_name }} League{% endblock %}

{% block main_view %}

<script>
    const userInLeague = {{ g.user_in_league|tojson }};
    let flashedMessages = {{ get_flashed_messages(with_categories=true)|tojson }};
    const currentUserId = {{ current_user.id }};
    {% if not g.picks_open %}
        let sortedGames = {{ dumped_sorted_games|tojson }};
        let finalWeekResults = {{ final_week_results|tojson }};
    {% endif %}
    const week = {{ g.week }};
    const season = {{ g.season }};
    const league = {{ g.league }};
    const idNameMap = {{ g.id_name_map|tojson }};
    const idEmailMap = {{ g.id_email_map|tojson }};
    const picksOpen = {{ g.picks_open|tojson }};
</script>

<div class="card">
    <div class="card-body">
        <!-- Help Collapse -->
        <div id="helpCollapse" class="collapse">
            <div class="row justify-content-center mb-3">
                <div class="col-auto">
                    <div class="card">
                        <h6 class="card-header text-center">Instructions</h6>
                        <div class="card-body">
                            <p class="card-text">This table is sorted in realtime, by completed points and then in-progress status. Rank is by completed total.</p>
                            <p class="card-text">Hover over any data cell to see the line for that team. Hover over any username to see it in full.</p>
                            <p class="card-text">"Grade" is your user pick score for the week, measuring how similar your picks were to everyone else's.</p>
                            <p class="card-text">If your 5 picks are in matchups where EVERY other user who picked that game ALSO picked your same pick, it's 100.</p>
                            <p class="card-text">If everyone chose the opponent (for all 5 picks), it's 0.</p>
                            <p class="card-text">This is weighted by number of total picks, not an even average of the ratios for each of 5 picks.</p>
                            <p class="card-text">It's a rough estimate of your projected points for the week (multiply by 5).</p>
                            <p class="card-text">Table data ticks every minute here (scores, ranks, etc), no need to refresh.</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ render_main_legend(view='allpicks') }}
        </div>
        <!-- Main Table -->
        {% if g.picks_open %}
            <div class="text-center">
                <p>Everyone's picks will publish here on Saturday night at midnight (PT) when picks close.</p>
                <p class="mb-0">To make or modify your submissions before then, go to <a href="{{ url_for('matchups.matchups') }}">Your Picks</a>.</p>
            </div>
        {% else %}
            <div id="allPicksTable" class="row justify-content-center">
                <div class="col-auto">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-sm table-bordered table-hover align-middle text-center mb-0">
                            <thead>
                                <tr class="table-light">
                                    <td colspan="8">Leaguewide Pick Counts <i class="fas fa-long-arrow-alt-right"></i></td>
                                    {% for favored_team_count, underdog_team_count in toprow_week_results %}
                                        <td class="border-left-thick">{{ favored_team_count }}</td>
                                        <td class="border-right-thick">{{ underdog_team_count }}</td>
                                    {% endfor %}
                                </tr>
                                <tr id="linesRow" class="table-light">
                                </tr>
                                <tr id="scoresRow" class="table-light">
                                </tr>
                                <tr class="table-dark">
                                    <th scope="col">Rank</th>
                                    <th scope="col" colspan="5">Rollup</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Grade</th>
                                    {% for game in sorted_games %}
                                        {% set favored_contestant, underdog_contestant = game.get_contestants(by="prediction", fail=False) %}
                                        {% set favored_team_img_url = 'https://southbaysupercontest.com/assets/teams/' + favored_contestant.team.name.upper() + '.svg' %}
                                        {% set underdog_team_img_url = 'https://southbaysupercontest.com/assets/teams/' + underdog_contestant.team.name.upper() + '.svg' %}
                                        <th scope="col" class="logo border-left-thick" style="background-image: url('{{ favored_team_img_url }}')"></th>
                                        <th scope="col" class="logo border-right-thick" style="background-image: url('{{ underdog_team_img_url }}')"></th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody id="userRows">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
