{% extends "contest/view_header.html" %}

{% block contest_view_title %}Progression{% endblock %}

{% block contest_view_subtitle %}{{ g.season }} Season, {{ g.league_name }} League{% endblock %}

{% block main_view %}

<script>
    const userInLeague = {{ g.user_in_league|tojson }};
    let flashedMessages = {{ get_flashed_messages(with_categories=true)|tojson }};
    const dumpedGraph = {{ dumped_graph|safe }};
</script>

<div class="card">
    <div class="card-body p-0">
        <!-- Help Collapse-->
        <div id="helpCollapse" class="collapse">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="card m-3">
                        <h6 class="card-header text-center">Instructions</h6>
                        <div class="card-body">
                            <p class="card-text">Click on any name(s) in the legend to overlay their progress onto yours. The list is in the same order as the current leaderboard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Plot -->
        <div class="me-5" id="plotGraph"></div>
    </div>
</div>

{% endblock %}
