<nav class="navbar bg-dark sticky-top px-3" data-bs-theme="dark">
    <a class="navbar-brand" href="{{ url_for('main.home') }}">
        <img height="40" src="https://southbaysupercontest.com/assets/brand/brand.ico" alt="SBSC Brand">
    </a>
    <!-- Only show the navbar with brand if user is not logged in -->
    {% if call_or_get(current_user.is_authenticated) %}
        <!-- Primary navs, collapsing last at smaller viewport -->
        <nav class="navbar-expand-md me-auto">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#primaryNavs" aria-controls="primaryNavs" aria-expanded="false" aria-label="Toggle navigation">
                <span>Contest</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="primaryNavs">
                <ul class="navbar-nav">
                    {% block contest_view_nav_dropdown %}
                    {% endblock %}
                    {% block stats_scope_nav_dropdown %}
                    {% endblock %}
                    {% block season_nav_dropdown %}
                    {% endblock %}
                    {% block week_nav_dropdown %}
                    {% endblock %}
                    {% block league_nav_dropdown %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
        <!-- Secondary navs, collapsing first at larger viewport -->
        <nav class="navbar-expand-lg ms-auto text-right">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#secondaryNavs" aria-controls="secondaryNavs" aria-expanded="false" aria-label="Toggle navigation">
                <span>General</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="secondaryNavs">
                <ul class="navbar-nav">
                    {% block general_nav_dropdown %}{% endblock %}
                    {% block profile_nav_dropdown %}{% endblock %}
                    {% block payment_status %}{% endblock %}
                </ul>
            </div>
        </nav>
    {% endif %}
</nav>
