{% extends "admin/master.html" %}

<!--
    This template was originally written for Bootstrap 4, native in my supercontest site,
    but flask-admin only supports Bootstrap 3, so it may look slightly different in
    its current home.
-->

{% block body %}

<div class="text-center mt-3">
    <p>First, back up the production database.</p>
    <p>Second, ensure the selenium webdriver has been restarted (the banner deployment does this indirectly).</p>
    <p>Third, ensure the new lines have been posted to <a href="https://www.superbook.com/supercontest">Westgate</a>.</p>
</div>

<br>

<form action="{{ url_for('main.commit_lines') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <h2>Line Commit Form</h2>
    <p>Lines will be committed for Week <strong>{{ current_week }}</strong> of the <strong>{{ current_season }}</strong> season.</p>
    <p>This will email all users who have notifications set for pick opening.</p>
    <button type="submit" class="btn btn-primary">Commit Lines</button>
    <p></p><p>Only click submit once, and wait a moment. If successful, it will take you to the Matchups view to confirm that the database has been updated.</p>
</div>

{% endblock %}
